/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
Colors used

Base color (Hunter Green): #376532
Text color (Seasalt): #FCFAFA
text accent (Gold (Metallic)): #D5B048
accent (Poppy): #D53A35
a: (Nyanza): #E0FFD6
a:active (Poppy): #D53A35
a:visited (Light green): #C0FFAD
a.style_2 (India green): #218500
a:visited.style_2 (Office Green): #1C7000
*/


/* GENERAL */


body {
  font-family: 'Spectral', serif;
  font-size: 19px;
  line-height: 1.5;
  color: #FCFAFA;
  background-color: #376532;
}

a:hover,
a:focus {
  text-decoration: none;
}

a {
  color: #E0FFD6;
}

a:visited {
  color: #C0FFAD;
}

a:active {
  color: #D53A35;
}

#social-media {
  color: #376532;
}

#social-media-style-2 {
  color: #FCFAFA;
}

button,
.msg__submit,
.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #E0FFD6;
  color: #376532;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

button:active,
.msg__submit:active,
.button:active {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #D53A35;
  color: #FCFAFA;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.msg__submit:hover,
.msg__submit:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

h1 {
  font-size: 40px;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-size: 34px;
  font-weight: 400;
  margin: 0;
}

h3 {
  font-size: 28px;
  font-weight: 400;
  margin: 0;
}

h4 {
  font-size: 22px;
  font-weight: 300;
  margin: 0;
}

h5 {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* STYLE 2 */

.background-style__2 {
  color: #376532;
  background-color: #FCFAFA;
}

a.style-2 {
  color: #218500;
}

a.style-2:visited {
  color: #1C7000;
}

a.style-2:active {
  color: #D53A35;
}

/* HEADER */

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 25px;
  position: fixed;
}

.workHead {
  background-color: #376532;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
  margin-top: 25.5px;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navIcon--current {
  fill: #C0FFAD;
}

.navIcon {
  fill: #E0FFD6;
}

/* PROFILE */

.profile__portrait {
  float: left;
  width: 100%;
  max-width: 500px;
  margin-right: 40px;
  border-radius: 18%;
  border: #D5B048;
  border-width: .75vmax;
  border-style: solid;
}

.profile {
  padding-top: 245px;
  margin: 28.7vmin;
  margin-top: 0;
  margin-bottom: 0;
}

.profile__body {
  text-align: left;
  padding-top: 140px;
  padding-bottom: 480px;
}

#myNameIs {
  margin-top: 10px;
  margin-bottom: 15px;
}

.workButton {
  margin-left: 5px;
}

/* MY WORK GRID */

section {
  padding-top: 180px;
  margin-left: 100px;
  margin-right: 100px;
}


.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin: 20px;
}

.grid__item {
  color: #FCFAFA;
  background-color: #376532;
  width: auto;
  min-height: auto;
  margin: 0;
  padding: 15px;
}

.grid__item:last-child {
  -ms-grid-columns: 2/3;
  grid-template-columns: 2/3;
  -ms-grid-row: 3;
  grid-row: 3/3;
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
    margin: 10px;
  }

  .grid__item:last-child {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }

  h1 {
    font-size: 22px;
  }
}

.logo {
  min-width: 80px;
  min-height: 80px;
}

/* ABOUT TEXT */

.about__text {
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
}

.navigation-list__about {
  list-style-type: none;
}

/* ANIMATION */

.animation {
  max-width: 100%;
}

@-webkit-keyframes color-change__mtn1 {
  0% {
    fill: #D5B048;
  }

  50% {
    fill: #B7912A;
  }

  100% {
    fill: #644F17;
  }
}

@keyframes color-change__mtn1 {
  0% {
    fill: #D5B048;
  }

  50% {
    fill: #B7912A;
  }

  100% {
    fill: #644F17;
  }
}

.mtn__1 {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-name: color-change__mtn1;
  animation-name: color-change__mtn1;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

@-webkit-keyframes color-change__mtn2 {
  0% {
    fill: #2D5228;
  }

  50% {
    fill: #1E371B;
  }

  100% {
    fill: #162914;
  }
}

@keyframes color-change__mtn2 {
  0% {
    fill: #2D5228;
  }

  50% {
    fill: #1E371B;
  }

  100% {
    fill: #162914;
  }
}

.mtn__2 {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-name: color-change__mtn2;
  animation-name: color-change__mtn2;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

@-webkit-keyframes sun-move {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    fill: #fbff01;
  }

  to {
    -webkit-transform: translate(100px, 150px);
    transform: translate(100px, 150px);
    fill: #ce0700;
  }
}

@keyframes sun-move {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    fill: #ffeb0d;
  }

  to {
    -webkit-transform: translate(100px, 150px);
    transform: translate(100px, 150px);
    fill: #ce0700;
  }
}

#path4137 {
  -webkit-animation: 5s sun-move infinite alternate linear;
  animation: 5s sun-move infinite alternate linear;
}

@-webkit-keyframes Web-Developer {
  0% {
    color: #078d70;
  }

  16.7% {
    color: #26ceaa;
  }

  33.4% {
    color: #99e8c2;
  }

  50.1% {
    color: #FCFAFA;
  }

  66.8% {
    color: #7bade3
    ;
  }

  83.5% {
    color: #5049cb;
  }

  100% {
    color: #3e1a78;
  }
}

@keyframes Web-Developer {
  0% {
    color: #078d70;
  }

  16.7% {
    color: #26ceaa;
  }

  33.4% {
    color: #99e8c2;
  }

  50.1% {
    color: #FCFAFA;
  }

  66.8% {
    color: #7bade3
    ;
  }

  83.5% {
    color: #5049cb;
  }

  100% {
    color: #3e1a78;
  }
}

.webDeveloper:hover {
  -webkit-animation: 1.2s Web-Developer infinite alternate;
  animation: 1.2s Web-Developer infinite alternate;
}

/* CONTACT */

.contactBody {
  padding-top: 165px;
  margin-left: 60px;
}

/* FOOTER */

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 25px;
}